<div class="sidebar disable z-depth-3 col s6 l4">
  <!-- add word form -->
  <div class="disable">
    <h3 class="title">Submit a word.</h3>
    <div class="add-word">
      <form class="">
        <div class="">
          <label for="word">Enter your word:</label>
          <input type="text" name="name" value="" id="word">
        </div>
        <div class="">
          <label for="definition">Add a breif definition:</label>
          <input type="text" name="name" value="" id="definition">
        </div>
        <div class="">
          <label for="wordType">Select word type:</label>
          <select class="browser-default" id="wordType">
            <option value="adjective">adjective</option>
            <option value="adverb">adverb</option>
            <option value="noun">noun</option>
            <option value="verb">verb</option>
          </select>
        </div>
        <button type="button" name="button" id="addButton">submit</button>
      </form>
      <p id="formError">
        error message
      </p>
    </div>
  </div>
  <!-- word update delete -->
  <div class="disable">
    <h3 class="title">You've added:</h3>
    <div class="card add-card">
      <div class="card-content">
        <span class="card-title">Lilt</span>
        <p class="type">
          noun
        </p>
        <p class="defintion">
          cheerful or buoyant song or movement
        </p>
      </div>
    </div>
    <ul class="edit-new no-margin">
      <li>edit</li>
      <li>delete</li>
    </ul>
    <button type="button" name="button" id="doneButton">done</button>
  </div>
  <!-- Favorite Words -->
  <div class="">
    <h3 class="title">Favorites.</h3>
    <div class="card">
      <div class="card-content">
        <span class="card-title">Lilt</span>
        <p class="type">
          noun
        </p>
        <p class="defintion">
          cheerful or buoyant song or movement
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <span class="card-title">Lilt</span>
        <p class="type">
          noun
        </p>
        <p class="defintion">
          cheerful or buoyant song or movement
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <span class="card-title">Lilt</span>
        <p class="type">
          noun
        </p>
        <p class="defintion">
          cheerful or buoyant song or movement
        </p>
      </div>
    </div>
  </div>
</div>
