<div class="disable center" id="filter">
  <form class="">
    <p class="filterby inline">
      <input class="checkbox" type="checkbox" id="adj" />
      <label for="adj">adjective</label>
    </p>
    <p class="filterby inline">
      <input class="checkbox" type="checkbox" id="noun" />
      <label for="noun">noun</label>
    </p>
    <p class="filterby inline">
      <input class="checkbox" type="checkbox" id="verb" />
      <label for="verb">verb</label>
    </p>
    <p class="filterby inline">
      <input class="checkbox" type="checkbox" id="adverb" />
      <label for="adverb">adverb</label>
    </p>
    <button type="button" class="inline" name="button" id="filterButton">submit</button>
  </form>
</div>
